body {
    font-family: 'Nunito Sans', sans-serif;
    background-color: #F8FAFF;
}

header {
    padding: 1vw;
    background-color: #353866;
    text-align: center;
    color: #F8FAFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav > ul {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
}

nav > ul > li {
    padding: 10px;
    background-color: #F8FAFF;
    margin: 5px;
    border-radius: 5px;
}

nav > ul > li > a {
    color: #353866;
    text-decoration: none;
    padding: 10px;
}

#player-1 {
    grid-area: player-1;
}

#player-2 {
    grid-area: player-2;
}

#game-submit {
    grid-area: game-submit;
    width: 20ch;
    margin: 20px
}

#game-submit:hover {
    background-color: #AAABD3;
}

#players-split {
    display: grid;
    grid-template-areas: 
        'player-1 player-2'
        'game-submit game-submit';
    justify-items: center;
}

.player > ul > li > label{
    grid-area: label;
    padding: 5px;
}

.player > ul > li > input {
    grid-area: input;
    padding: 5px;
}

.player > ul {
    list-style: none;
    display: grid;
    grid-template-areas: 
        'label' 
        'input'
        'label '
        'input';
    justify-items: left;
}

h2 {
    text-align: center;
}

body > main > section {
    background-color: #CBA6C3;
}

#p1wins {
    grid-area: p1wins;
}

#draws {
    grid-area: draws;
}

#p2wins {
    grid-area: p2wins;
}

#show-results {
    grid-area: show-results;
    text-align: center;
}

#reset {
    grid-area: reset;
}

#reset:hover {
    background-color: #AAABD3;
}

#results {
    list-style: none;
    padding-top: 10px;
    display: grid;
    grid-template-areas: 
        'p1wins draws p2wins'
        'show-results show-results show-results'
        'reset reset reset';
    justify-content: space-around;
}

#rules-pic {
    grid-area: rules-pic;
}

#rules-p {
    grid-area: rules-p
}

#rules-art {
    display: grid;
    grid-template-areas: 
    'rules-p'
    'rules-pic';
    justify-items: center;
}

