<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <title>Rock Paper Scissors</title>
</head>
<body>
    <header>
        <h1>Rock Paper Scissors</h1>
    </header>
    <main>
        <section id="players-split">
            <form action="/play-game" method="POST">
                <div id="player-1" class="player">
                    <h2>Player 1</h2>
                    <ul>
                        <li>
                            <label for="player-1-name">Enter your name</label>
                            <input type="text" name="player-1-name" id="player-1-name">
                        </li>
                        <li>
                            <label for="player-1-choice">Choose your move</label>
                            <select name="player-1-choice" id="player-1-choice">
                                <option value="choose" disabled="True" selected="True">--Please choose a move--</option>
                                <option value="rock">Rock</option>
                                <option value="paper">Paper</option>
                                <option value="scissors">Scissors</option>
                            </select>
                        </li>
                    </ul>
                </div>
                <div id="player-2" class="player">
                    <h2>Player 2</h2>
                    <ul>
                        <li>
                            <label for="player-2-name">Enter your name</label>
                            <input type="text" name="player-2-name" id="player-2-name">
                        </li>
                        <li>
                            <label for="player-2-choice">Choose your move</label>
                            <select name="player-2-choice" id="player-2-choice">
                                <option value="choose" disabled="True" selected="True">--Please choose a move--</option>
                                <option value="rock">Rock</option>
                                <option value="paper">Paper</option>
                                <option value="scissors">Scissors</option>
                            </select>
                        </li>
                    </ul>
                </div>
                <input type="submit", value="Play game!">
            </form>
        </section>
        <section>
            <ul id="results">
                <li id="p1wins">
                    Player 1 wins
                    {{ results.player_1_wins }}
                </li>
                <li id="draws">
                    Draws
                    {{ results.draws }}
                </li>
                <li id="p2wins"> 
                    Player 2 wins
                    {{ results.player_2_wins}}
                </li>
                <li id=show-results>
                    <p>{{ results.result }}</p>
                </li>
            </ul>

        </section>
    </main>
    <footer>
        
    </footer>
</body>
</html>