<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <title>Rock Paper Scissors</title>
</head>
<body>
    <header>
        <h1>Rock Paper Scissors</h1>
        <nav>
            <ul>
                <li>
                    <a href="/rules">Rules</a>
                </li>
                <li>
                    <a href="/player-vs-player">Player Vs Player</a>
                </li>
                <li>
                    <a href="/player-vs-ai">Player Vs Computer</a>
                </li>
            </ul>
        </nav>
    </header>
    {% block content %}

    {% endblock %}
    <footer>
        
    </footer>
</body>
</html>