{% extends "game.html" %}

{% block player %}

<div id="player-2" class="player">
    <h2>Skynet</h2>
    <div id="ai-pic">
        <img src="{{url_for('static', filename='Robot_Emoji.png')}}" width="250" height="250" alt="robot_emoji.png">
    </div>
</div>
<input type="hidden", id="ai-check" value="True" name="ai-check">
{% endblock %}

{% block ai_checker %}

<form action="/reset-scores" method="POST">
    <input type="hidden", id="ai-check2" value="True" name="ai-check2">
    <input type="submit" value="Reset scores" id="reset">
</form>

{% endblock %}